 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../assets.nicepagecdn.com/a088331e/6485194/images/NoName3.png');
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 256px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 62px auto 60px;
  padding: 14px 43px 16px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 39px;
} .u-section-3 {
  min-height: 676px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1222px);
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 197px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 1s;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  background-image: none;
  margin: 42px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 676px;
  background-image: url("../assets.nicepagecdn.com/a088331e/6485194/images/youtube.png");
  background-size: auto 130%;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 95px 0 232px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 608px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-3 .u-image-1 {
    min-height: 486px;
    --animation-custom_in-translate_x: 800px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 593px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 593px;
    background-size: auto 120%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 688px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 558px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 657px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 306px;
    order: 1;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.34375rem;
    width: auto;
    margin-top: 9px;
    margin-right: 272px;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
    background-size: auto 150%;
    order: 0;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 39px;
} .u-section-5 {
  min-height: 726px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1222px);
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-1 {
  min-height: 726px;
  background-image: url("../assets.nicepagecdn.com/a088331e/6485194/images/discord.png");
  background-position: 34.04% 50%;
  background-size: cover;
}

.u-section-5 .u-container-layout-1 {
  padding: 95px 0 232px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 726px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 153px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 1s;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 42px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 608px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-image-1 {
    min-height: 486px;
    --animation-custom_in-translate_x: -850px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 613px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 613px;
    background-position: 32.9% 50%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 613px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 688px;
  }

  .u-section-5 .u-image-1 {
    min-height: 558px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 517px;
  }

  .u-section-5 .u-image-1 {
    min-height: 351px;
    background-position: 33.98% 50.95%;
    background-size: auto 130%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.34375rem;
    width: auto;
    margin-top: 3px;
    margin-right: 291px;
  }
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}